<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.mapper.businessMapper.SendordersMapper">
    <select id="getDistributeleaflets" resultMap="Distributeleafletsd">
        SELECT * FROM distribute_leaflets d,staff s,customer c,`order` o
        WHERE d.`sid`=s.`sid` AND d.`cid`=c.`cid` AND d.`oid`=o.`oid` AND d.`sid`=#{sid}
        AND d.`type`=#{type}
    </select>
    <resultMap type="DistributeLeafletss" id="Distributeleafletsd">
        <id property="did" column="did"/>
        <result property="sid" column="sid"/>
        <result property="cid" column="cid"/>
        <result property="oid" column="oid"/>
        <result property="type" column="type"/>
        <result property="status" column="status"/>
        <result property="createDate" column="createDate"/>
        <result property="endDate" column="endDate"/>
        <association property="staffs" javaType="Staff">
            <id property="sid" column="sid"/>
            <result property="sname" column="sname"/>
        </association>
        <association property="customers" javaType="Customer">
            <id property="cid" column="cid"/>
            <result property="customerName" column="customer_name"/>
        </association>
        <association property="orders" javaType="Order">
            <id property="oid" column="oid"/>
            <result property="orderStatus" column="order_status"/>
        </association>
    </resultMap>

<!--    <select id="getDistributeleafletsparticulars" resultMap="Distributeleafletsdd">-->
<!--          SELECT * FROM distribute_leaflets d,staff s,customer c,`order` o-->
<!--        WHERE d.`sid`=s.`sid` AND d.`cid`=c.`cid` AND d.`oid`=o.`oid` AND d.`did`=#{did}-->
<!--    </select>-->
<!--    <resultMap type="DistributeLeafletss" id="Distributeleafletsdd">-->
<!--        <id property="did" column="did"/>-->
<!--        <result property="sid" column="sid"/>-->
<!--        <result property="cid" column="cid"/>-->
<!--        <result property="oid" column="oid"/>-->
<!--        <result property="type" column="type"/>-->
<!--        <result property="status" column="status"/>-->
<!--        <result property="createDate" column="createDate"/>-->
<!--        <result property="endDate" column="endDate"/>-->
<!--        <association property="staffs" javaType="Staff">-->
<!--            <id property="sid" column="sid"/>-->
<!--            <result property="sname" column="sname"/>-->
<!--        </association>-->
<!--        <association property="customers" javaType="Customer">-->
<!--            <id property="cid" column="cid"/>-->
<!--            <result property="customerName" column="customer_name"/>-->
<!--        </association>-->
<!--        <association property="orders" javaType="Order">-->
<!--            <id property="oid" column="oid"/>-->
<!--            <result property="orderStatus" column="order_status"/>-->
<!--        </association>-->
<!--    </resultMap>-->
</mapper>