body{
    font-size: 13px;
}
.btnArr input {
    width: 80px;
    padding: 0;
    height: 30px;
    text-align: center;
    line-height: 0;
    font-size: 12px;
}
.btnArr button {
    width: 80px;
    padding: 0;
    height: 30px;
    text-align: center;
    line-height: 0;
    font-size: 12px;
}
.layui-input{
    height: 36px;
}
.layui-disabled{
    border-color: rgba(220, 20, 60, 0.47);
}
.layui-elem-quote{
    padding: 10px 15px;
    line-height: 18px;
}
.layui-container{
    width: 90%;
}
