<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="icon" href="images/favicon.ico">
		<link rel="stylesheet" href="lib/layui-v2.5.5/css/layui.css" media="all">
		<link rel="stylesheet" href="css/layuimini.css" media="all">
		<style type="text/css">
			.btn-bgcolor {
				background-color: #286ED6;
				width: 70px;
				margin-left: 20px;
			}
			.btn-bgcolor1 {
				background-color: #b0b0b0;
				color: #000000;
				width: 70px;
			}
		</style>
	</head>
	<body>
<div style="margin-left: 20px;">
		<br />
		<form class="layui-form layui-form-pane" action="">
			<div class="layui-inline" style="!important;">
				<div class="layui-inline">
					<div class="layui-form-item">
						保养员
					</div>
					<div class="layui-inline">
						<div class="layui-input-inline">
							<select id="baoyangyuan">
								<option value=""></option>
							</select>	
						</div>
					</div>
				</div>
				<div class="layui-inline" style="margin-left: 10px;">
					<div class="layui-form-item">
							保养订单
					</div>
					<div class="layui-inline">
						<div class="layui-input-inline">
							<select name="baoyang">
								<option value=""></option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-form-item" style="margin-top: 10px;">
				派单时间
			</div>
			<div class="layui-input-inline">
				<input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input  btn-bgcolor2">
			</div>
			<div class="layui-form-item" style="margin-top: 10px;">
				截止时间
			</div>
			<div class="layui-input-inline">
				<input type="text" name="date" id="date1" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input  btn-bgcolor2">
			</div>
			<br />
			<br />
			<div class="layui-form-item">
				<button type="button" id="fahuo" class="layui-btn layui-btn-sm  btn-bgcolor">保存</button>
				<button type="button" id="fahuo" class="layui-btn layui-btn-sm btn-bgcolor1">重置</button>
			</div>
		</form>
		  </div>
	</body>
	<script src="lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
	<script src="lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
	<script>
		layui.use(['form', 'layedit', 'laydate'], function() {
			var form = layui.form,
				layer = layui.layer,
				layedit = layui.layedit,
				laydate = layui.laydate;

			//日期
			layui.laydate.render({
				elem: '#date',
				type: 'date',
				trigger: 'click' ,
				max: -1,
				done: function (value, date, endDate) {

				}
			});
			layui.laydate.render({
				elem: '#date1',
				type: 'date',
				trigger: 'click' ,
				max: -1,
				done: function (value, date, endDate) {

				}
			});
             //查询员工id
			$.post("/hj/zhi", function (result) {
				$(result).each(function () {
					$("#baoyangyuan").append("<option value='" + this.sid + "'>" + this.sname + "</option>");
				});
				form.render('select'); //刷新select选择框渲染
			});
			//查询订单id
			$.post("/hj/zhi1", function (result) {
				$(result).each(function () {
					$("#baoyangyuan").append("<option value='" + this.sid + "'>" + this.sname + "</option>");
				});
				form.render('select'); //刷新select选择框渲染
			});

			//自定义验证规则
			form.verify({
				title: function(value) {
					if (value.length < 5) {
						return '标题至少得5个字符啊';
					}
				},
				pass: [
					/^[\S]{6,12}$/, '密码必须6到12位，且不能出现空格'
				],
				content: function(value) {
					layedit.sync(editIndex);
				}
			});

			//监听指定开关
			form.on('switch(switchTest)', function(data) {
				layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
					offset: '6px'
				});
				layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
			});

			//监听提交
			form.on('submit(demo1)', function(data) {
				layer.alert(JSON.stringify(data.field), {
					title: '最终的提交信息'
				})
				return false;
			});

			//表单赋值
			layui.$('#LAY-component-form-setval').on('click', function() {
				form.val('example', {
					"username": "贤心" // "name": "value"
						,
					"password": "123456",
					"interest": 1,
					"like[write]": true //复选框选中状态
						,
					"close": true //开关状态
						,
					"sex": "女",
					"desc": "我爱 layui"
				});
			});

			//表单取值
			layui.$('#LAY-component-form-getval').on('click', function() {
				var data = form.val('example');
				alert(JSON.stringify(data));
			});

		});
	</script>
</html>
