<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="icon" href="images/favicon.ico">
		<link rel="stylesheet" href="lib/layui-v2.5.5/css/layui.css" media="all">
		<link rel="stylesheet" href="css/layuimini.css" media="all">
		<style type="text/css">
			.btn-bgcolor {
				background-color: #286ED6;
				width: 100px;
			}

			.btn-bgcolor2 {
				margin-top: 14.4%;
				background-color: #286ED6;
				width: 70px;
			}

			.btn-bgcolor3 {
				margin-top: 14.4%;
				width: 70px;
			}
		</style>
	</head>
	<body>
		<div style="margin-left: 20px;">
			<form class="layui-form layui-form-pane" action="">
				<div class="layui-form-item">
					<div class="layui-inline">
						<!-- 新增 -->
						<button type="button" id="dianji" class="layui-btn layui-btn-sm  btn-bgcolor" lay-event="getCheckData">新增保养派单</button>
					    <button type="button" id="xiugai" class="layui-btn layui-btn-sm  btn-bgcolor" lay-event="getCheckData">修改</button>
						<button type="button" id="shancu" class="layui-btn layui-btn-sm  btn-bgcolor" lay-event="getCheckData">删除</button>

					</div>
					<br />
					<br />
					<div class="layui-inline" style="!important;">
						<div class="layui-inline">
							<div class="layui-form-item">
								客户
							</div>
							<div class="layui-inline">
								<div class="layui-input-inline">
									<input type="tel" id="name" lay-verify="required|phone" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-inline">
							<button type="button" id="sosuo" style="margin-left: -15px; margin-top:27px;" class="layui-btn layui-btn-sm  btn-bgcolor2"
							 lay-event="getCheckData">搜所</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<table class="layui-hide" id="test"></table>

	</body>
	<script src="lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
	<script src="lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
	<script src="js/hjjs/Maintainsendsingle.js"></script>
</html>
