<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="css/common.css" media="all">
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <script src="js/jquery.js"></script>
    <style>
        .layui-colla-title {
            height: 30px;
            line-height: 30px;
        }

        .layui-table td, .layui-table th {
            font-size: 12px;
        }
    </style>
</head>
<body>
<div class="layui-fluid">
    <form class="layui-form" id="data" lay-filter="data">
        <div class="btnArr layui-row">
            <button type="button" class="layui-btn find">查找</button>
            <button type="button" class="layui-btn layui-btn-normal" style="background-color: coral" lay-filter="templateDownload">模板下载</button>
            <button type="button" class="layui-btn layui-btn-normal" id="templateFile" lay-filter="export">导入</button>

        </div>
        <br>
        <blockquote class="layui-elem-quote">
            规格列表
        </blockquote>
        <div class="layui-row layui-col-space10">
            <div class="layui-col-xs4">
                <div class="layui-collapse">
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">规格参数</h2>
                        <div class="layui-colla-content">
                            <table class="layui-table" id="xslxExportInfo"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs8">
                <div class="layui-collapse">
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">国家标准</h2>
                        <div class="layui-colla-content">
                            <input type="hidden" id="tableHelp">
                            <table class="layui-table" id="nationalStandard"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="layui-row layui-col-space5">
            <div class="layui-col-xs2">氧气最大输出率</div>
            <div class="layui-col-xs2">氧气最小输出率</div>
            <div class="layui-col-xs2">空气最大输出率</div>
            <div class="layui-col-xs2">空气最小输出率</div>
            <div class="layui-col-xs2">真空最大输出率</div>
            <div class="layui-col-xs2">真空最小输出率</div>
        </div>
        <div class="layui-row layui-col-space5">
            <div class="layui-col-xs2"><input type="text" name="oxygenMaxOutputPower" id="oxygenMaxOutputPower" class="layui-input"></div>
            <div class="layui-col-xs2"><input type="text" name="oxygenMinOutputPower" id="oxygenMinOutputPower" class="layui-input"></div>
            <div class="layui-col-xs2"><input type="text" name="airMaxOutputPower" id="airMaxOutputPower" class="layui-input"></div>
            <div class="layui-col-xs2"><input type="text" name="airMinOutputPower" id="airMinOutputPower" class="layui-input"></div>
            <div class="layui-col-xs2"><input type="text" name="vacuumMaxOutputPower" id="vacuumMaxOutputPower" class="layui-input"></div>
            <div class="layui-col-xs2"><input type="text" name="vacuumMinOutputPower" id="vacuumMinOutputPower" class="layui-input"></div>
        </div>
        <br>

        <blockquote class="layui-elem-quote">
            产品列表
        </blockquote>
        <table class="layui-table" id="productInfo" lay-filter="productInfo"></table>
        <div style="color: red;text-align: center">请双击选择产品</div>
    </form>
</div>
</body>
<script src="lib/layui-v2.5.5/layui.js"></script>
<script src="js/order-manage/productPage.js"></script>

</html>