<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="css/common.css" media="all">
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>
<div class="layui-fluid" style="padding: 30px">
    <form class="layui-form" lay-filter="data">
        <div class="layui-row btnArr">
            <button type="button" class="layui-btn commit layui-btn-normal" >新增</button>
            <button type="button" class="layui-btn layui-btn-primary">重置</button>
            <button type="button" class="layui-btn layui-btn-normal">返回</button>
        </div>
        <br>
        <div class="layui-row layui-col-space5">
            <div class="layui-col-xs2">销售员</div>
            <div class="layui-col-xs2">客户</div>
            <div class="layui-col-xs2">销售数量</div>
            <div class="layui-col-xs2">销售总价</div>
        </div>
        <div class="layui-row layui-col-space5">
            <div class="layui-col-xs2"><select name="salesman" class="layui-select" id="staff"></select></div>
            <div class="layui-col-xs2"><select name="cid" class="layui-select" id="customer"></select></div>
            <div class="layui-col-xs2"><input type="text" name="salesVolumes" id="salesVolumes" disabled class="layui-input layui-disabled"></div>
            <div class="layui-col-xs2"><input type="text" name="totalSalesPrice" id="totalSalesPrice" disabled class="layui-input layui-disabled"></div>
        </div>
        <br>
        <div style="padding: 20px; background-color: #F2F2F2;">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card orderBOM">
                        <div class="layui-card-header" style="background-color: #bfb9b5">订单BOM单
                            <button style="margin-left:85%" id="addTable" type="button" lay-submit="" lay-filter="demo1"
                                    class="layui-btn add layui-icon-addition layui-icon layui-btn-sm layui-btn-danger"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
</body>
<script src="lib/layui-v2.5.5/layui.js"></script>
<script src="js/order-manage/saveSaleInfo.js"></script>

</html>